{{ define "main" }}

<article class="pa3 pa4-ns nested-copy-line-height nested-img">

	{{ with ( index .Site.Params.subnav .Params.subnav ) }}
	<nav class="ph5-l lh-copy tc">
		{{ range $key, $link := . }}
		<a href="{{ index $link 0 }}" class="mh3">{{ index $link 1 | title }}</a>
		{{ end }}
	</nav>
	{{ end }}

	{{ with .Content }}
	<section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
		{{ . }}
	</section>
	{{ end }}

	<section class="grid grid-c3 grid-gg2px mh4-l mv5-l mv3 mh1">
		{{ range .Paginator.Pages }} {{- partial "summary.html" . -}} {{ end }}
	</section>

	{{- template "_internal/pagination.html" . -}}

</article>

{{ end }}
