{{ define "header" }}
	{{/* We can override any block in the baseof file by defining it in the template */}}
	{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
	{{ $section := .Site.GetPage "section" .Section }}
	<article class="flex-l flex-wrap justify-between w-80-l center ph4
		{{ if .Params.recipe }}h-recipe{{ end }}">

		<header class="mt5 mb4 w-100">

			{{ if .Params.categories }}
			{{ $category := index (.Params.categories) 0 }}
			<p class="fw7 tracked ttu f7 mb4">
				<a href="{{ "/categories/" | relLangURL }}{{ $category | urlize }}/">{{ $category }}</a>
				<span class="o-30 mh1">></span>
				{{ .Title }}
			</p>
			{{ end }}

			<h1 class="f1 mt3 mb1 p-name">
				{{- .Title | title -}}
			</h1>
			{{ partial "meta.html" . }}

			{{/*
				Show "reading time" and "word count" but only if one of the following are true:
				1) A global config `params` value is set `show_reading_time = true`
				2) A section front matter value is set `show_reading_time = true`
				3) A page front matter value is set `show_reading_time = true`
			*/}}
			{{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
			<p class="tracked f6 mb0 mt0 o-50">
				<span class="dib"> {{ .ReadingTime}} minutes read</span>
				<span class="dib"> - {{ .WordCount}} words</span>
			</p>
			{{ end }}

		</header>

		<div class="lh-copy
			{{ $.Param "post_content_classes" }}
			{{ .Site.Params.font_content | default "georgia" }}
			f4 nested-img mid-gray bg-white pa4 w-two-thirds-l">

			{{- .Content -}}

			{{ if .Params.recipe }}
				{{- partial "recipe.html" . -}}
			{{ end }}

			<aside class="instapaper_ignoref tracked mt5">
				<h5 class="b">Share</h5>
				{{ partial "social-share.html" . }}
			</aside>

			{{ if .Params.tags }}
			<aside class="instapaper_ignoref tracked mt5">
				<h5 class="b">Tags</h5>
				{{- partial "tags.html" . -}}
			</aside>
			{{ end }}

		</div>

		<div class="w-third-l mt6-l pl4-l">
			{{ partial "sidebar-toc" . }}
			{{ partial "sidebar-related" . }}
			{{ partial "sidebar-store" . }}
			{{ partial "sidebar.html" . }}
		</div>

	</article>

{{ end }}
