{{ define "main" }}

	<article class="pa3 pa4-ns nested-copy-line-height nested-img">

		{{ range $key, $value := .Data.Terms }}

			<h2 class="f1 tc">
				<a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
					{{ $.Data.Singular | humanize }}: {{ $key }}
				</a>
			</h2>

			<section class="flex-ns flex-wrap justify-around mt5">

				{{ range $value.Pages }}
					{{ partial "summary.html" . }}
				{{ end }}

			</section>

		{{ end }}

	</article>

{{ end }}
