{{ with .Params.recipe }}

	{{- $image1 := "" }}
	{{- $image2 := "" }}
	{{- $image3 := "" }}

	{{- $featured_image := $.Page.Param "featured_image"}}
	{{- if $featured_image }}

		{{- $featured_image := (trim $featured_image "/") }}
		{{ $image := resources.Get $featured_image }}
		{{ $image1 = $image.Fill "400x400" }}
		{{ $image2 = $image.Fill "500x375" }}
		{{- $image3 = $image.Fill "560x315" }}

	{{- end -}}

<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "Recipe",
		"author": {
			"@type": "Organization",
			"name": "Veggie Advisor"
		},
		"name": "{{ $.Page.Title }}",
		{{ if .cookTime }}"cookTime": "PT{{ .cookTime }}M",{{ end }}
		{{ if .prepTime }}"prepTime": "PT{{ .prepTime }}M",{{ end }}
		{{ if .totalTime }}"totalTime": "PT{{ .totalTime }}M",{{ end }}
		"recipeCuisine": "Vegetarian",
		"image": [
			"{{ $image1.RelPermalink | absURL }}",
			"{{ $image2.RelPermalink | absURL }}",
			"{{ $image3.RelPermalink | absURL }}"
		],
		{{ if .servings }}"recipeYield": "{{ .servings }}",{{ end }}
		"recipeIngredient": [
		{{ range .ingredients -}}
			"{{ . }}",
		{{ end }}
		],
		"recipeInstructions": [
		{{ range .instructions -}}
			{
				"@type": "HowToStep",
				"text": "{{ . }}"
			},
		{{ end }}
		]

	}
</script>

	<h2 id="ingredients">
		Ingredients
		{{- if .servings }} (serves <data class="p-yield" value="{{ .servings }}">{{ .servings }}</data>){{ end }}
		{{- if .makes }} (makes <data class="p-yield" value="{{ .makes }}">{{ .makes }} portions</data>){{ end }}
	</h2>

	{{ with .ingredients_image }}
		{{ partial "image.html" . }}
	{{ end }}

	<ul>
		{{- range .ingredients }}
		<li class="p-ingredient">{{ . }}</li>
		{{ end -}}
	</ul>

	{{ with .equipment_image }}
		{{ partial "image.html" . }}
	{{ end }}

	{{ if .equipment }}

	<h2 id="equipment">Equipment</h2>

	<ul>
		{{- range .equipment }}
		<li>{{ . }}</li>
		{{ end -}}
	</ul>

	{{ end }}

	{{ with .instructions_image }}
		{{ partial "image.html" . }}
	{{ end }}

	<h2 id="instructions">Instructions</h2>

	<ol class="e-instructions">
		{{- range .instructions }}
		<li>{{ . }}</li>
		{{ end -}}
	</ol>

	{{ with .tips_image }}
		{{ partial "image.html" . }}
	{{ end }}

	{{ if .tips }}
	<h2 id="tips">Tips</h2>

	<ul>
		{{- range .tips }}
		<li>{{ . }}</li>
		{{ end -}}
	</ul>
	{{ end }}


{{ end }}