

{{ range $key, $value := .Site.Taxonomies.store }}
	<aside class="mb5">

		{{- with ( $.Site.GetPage ( printf "/store/%s" $key ) ) -}}
		<h3 class="mv3 f3 lh-2">
			<a href="{{ .Permalink }}" class="link">
				<span class="black">{{ .Title | title }}</span>
				<small class="fr br2 fw7 f7 ttu tracked-mega">View All &rsaquo;</small>
			</a>
		</h3>
		{{- end -}}

		<div class="pa0 ma0 list">
		{{ range first 5 $value.Pages }}
			{{ partial "summary-mini.html" . }}
		{{ end }}
		</div>

	</aside>
{{ end }}
