.facebook, .twitter, .instagram, .youtube, .github, .gitlab, .keybase, .linkedin, .medium, .mastodon, .slack, .stackoverflow, .rss {
	fill: #BABABA;
}

.new-window {
	opacity: 0;
	display: inline-block;
	vertical-align: top;
}
.link-transition:hover .new-window{
	opacity: 1;
}

.facebook:hover {
	fill: #3b5998;
}

.twitter:hover {
	fill: #1da1f2;
}

.instagram:hover {
	fill: #e1306c;
}

.youtube:hover {
	fill: #cd201f;
}

.github:hover {
	fill: #6cc644;
}

.linkedin:hover {
	fill: #0077b5
}

.stackoverflow:hover {
	fill: #f48024;
}

.rss:hover{
	fill: #ff6f1a;
}
