{{ $image := .Get "src" }}
{{ $image := (trim $image "/") }}
{{ $image_obj := resources.Get $image }}

{{ if $image_obj }}
	{{ $.Scratch.Add "image" ( $image_obj.Resize "700x" ) }}

	{{ $.Scratch.Add "class" "" }}
	{{ $align := .Get "align" }}
	{{ if ( eq $align "left" ) }}
		{{ $.Scratch.Set "class" "w-40 fl mr4" }}
		{{ $.Scratch.Set "image" ( $image_obj.Resize "400x" ) }}
	{{ end }}
	{{ if ( eq $align "right" ) }}
		{{ $.Scratch.Set "class" "w-40 fr ml4" }}
		{{ $.Scratch.Set "image" ( $image_obj.Resize "400x" ) }}
	{{ end }}

	{{ $image_obj := $.Scratch.Get "image" }}

<figure class="image ma0 mb3 {{ $.Scratch.Get "class" }}">
	<img
		loading="lazy"
		src="{{ $image_obj.RelPermalink }}"
		{{ with .Get "alt" }}alt="{{.}}"{{ end }}
	/>
	{{ if .Inner }}
	<figcaption>
		<h4 class="tc f7 mh0 mv1">{{.Inner}}</h4>
	</figcaption>
	{{ end }}
</figure>

{{ end }}
